[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python flet/main.py"
dev = "python flet/main.py"
